h1 {
  margin-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;  
  background-color: floralwhite;
  font-size: 45px;
  font-family: ArchivoBlack;
  font-weight: bolder;
  color: indigo;
} 

body {
  background-color: floralwhite;
  height: 200px;
}


header {
  background-color: #5292CA;
  padding: 5px;
  height: 40px;
  width: 100%; 
}

nav {
  height: 50px; 
}


li {
  display:inline-block;
  background-color:#BFC826;   
  padding: 10px;
  text-decoration: none; 
  margin-left: 10px;
}

li:hover{
background-color: #e97877;    
color: white;
}

p{
  text-align: center;
}

img {
 width: 30%;
 margin: 10px;
 border: 5px solid indigo;
}

section{
  float:left;
}

ol{
  list-style: decimal;
  float: right;
  border: 5px solid indigo;
}
ol.topTenIowa li
{
display:block;
padding: 10px;
margin-left: 3px;
}

footer {
  clear:both;
  background-color: indigo;
  border-top: 5px solid #5292CA;
  border-bottom: 5px solid #5292CA;
  height: 40px;
  width: 100%; 
}

